<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Images/icons8-tiger-white-100.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="login-container">
    <h1>Welcome to the Tiger Database!</h1>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <!-- Login Form -->
    <form action="{{ url_for('main.login') }}" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <input type="submit" style="margin-top: 60px" value="Login" class="btn">
    </form>

    <!-- Create Account button styled to look like the Login button -->
    <button type="button" style="background-color: darkgreen; color: white;"
        onmouseover="this.style.backgroundColor='#45a049'"
        onmouseout="this.style.backgroundColor='darkgreen'"
        class="btn"
        onclick="window.location.href='{{ url_for('main.register') }}'">
        Create Account
    </button>
</div>
</body>
</html>