<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Search</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Images/icons8-tiger-white-100.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            overflow-y: auto;
            height: 100vh;
        }
        .form-group {
            margin-bottom: 15px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input, select {
            padding: 8px;
            width: 100%;
            max-width: 300px;
        }
    </style>
</head>
<body>
<div class="login-container">
    <h1 style="font-size: 48px;">Player Information</h1>
    <form action="{{ url_for('main.player_list') }}" method="GET" class="button-container">
        <div class="form-group">
            <label for="nameFirst" style="font-size: 1.5rem; margin-top: 20px">First Name:</label>
            <input type="text" id="nameFirst" name="nameFirst" placeholder="Enter your first name" required>
        </div>
        <div class="form-group">
            <label for="nameLast" style="font-size: 1.5rem; margin-top: 20px">Last Name:</label>
            <input type="text" id="nameLast" name="nameLast" placeholder="Enter your last name" required>
        </div>
{#        <div class="form-group">#}
{#            <label for="role" style="font-size: 1.5rem; margin-top: 20px">Select Role:</label>#}
{#            <select id="role" name="role" required>#}
{#                <option value="pitching">Pitching</option>#}
{#                <option value="batting">Batting</option>#}
{#            </select>#}
{#        </div>#}
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>
