<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Immaculate Grid</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Images/icons8-tiger-white-100.png') }}">
    <!-- Link to Google Fonts for global font styling -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- Link to global stylesheet -->
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="login-container">
        <h1>Immaculate Grid</h1>

        <form action="/query" method="post">
<!--            <label for="team">Team:</label>-->
<!--            <input type="text" id="team" name="team" placeholder="e.g., NYY" required>-->

            <label for="team">Team:</label>
            <select id="team" name="team" required>
                <option value="BS1">Boston Red Stockings</option>
                <option value="CH1">Chicago White Stockings</option>
                <option value="CL1">Cleveland Forest Citys</option>
                <option value="FW1">Fort Wayne Kekiongas</option>
                <option value="NY2">New York Mutuals</option>
                <option value="PH1">Philadelphia Athletics</option>
                <option value="RC1">Rockford Forest Citys</option>
                <option value="TRO">Troy Haymakers</option>
                <option value="WS3">Washington Olympics</option>
                <option value="BL1">Baltimore Canaries</option>
                <option value="BR1">Brooklyn Eckfords</option>
                <option value="BR2">Brooklyn Atlantics</option>
                <option value="MID">Middletown Mansfields</option>
                <option value="WS4">Washington Nationals</option>
                <option value="BL4">Baltimore Marylands</option>
                <option value="ELI">Elizabeth Resolutes</option>
                <option value="PH2">Philadelphia Whites</option>
                <option value="WS5">Washington Blue Legs</option>
                <option value="CH2">Chicago White Stockings</option>
                <option value="HR1">Hartford Dark Blues</option>
                <option value="KEO">Keokuk Westerns</option>
                <option value="NH1">New Haven Elm Citys</option>
                <option value="PH3">Philadelphia Centennials</option>
                <option value="SL1">St. Louis Red Stockings</option>
                <option value="SL2">St. Louis Brown Stockings</option>
                <option value="WS6">Washington Nationals</option>
                <option value="BSN">Boston Red Caps</option>
                <option value="CHN">Chicago White Stockings</option>
                <option value="CN1">Cincinnati Reds</option>
                <option value="HAR">Hartford Dark Blues</option>
                <option value="LS1">Louisville Grays</option>
                <option value="NY3">New York Mutuals</option>
                <option value="PHN">Philadelphia Athletics</option>
                <option value="SL3">St. Louis Brown Stockings</option>
                <option value="IN1">Indianapolis Blues</option>
                <option value="ML2">Milwaukee Grays</option>
                <option value="PRO">Providence Grays</option>
                <option value="BFN">Buffalo Bisons</option>
                <option value="CL2">Cleveland Blues</option>
                <option value="SR1">Syracuse Stars</option>
                <option value="TRN">Troy Trojans</option>
                <option value="WOR">Worcester Ruby Legs</option>
                <option value="DTN">Detroit Wolverines</option>
                <option value="BL2">Baltimore Orioles</option>
                <option value="CN2">Cincinnati Red Stockings</option>
                <option value="LS2">Louisville Eclipse</option>
                <option value="PH4">Philadelphia Athletics</option>
                <option value="PT1">Pittsburg Alleghenys</option>
                <option value="SL4">St. Louis Brown Stockings</option>
                <option value="BSN">Boston Beaneaters</option>
                <option value="CL5">Columbus Buckeyes</option>
                <option value="NY1">New York Gothams</option>
                <option value="NY4">New York Metropolitans</option>
                <option value="PHI">Philadelphia Quakers</option>
                <option value="SL4">St. Louis Browns</option>
                <option value="ALT">Altoona Mountain City</option>
                <option value="BLU">Baltimore Monumentals</option>
                <option value="BR3">Brooklyn Atlantics</option>
                <option value="BSU">Boston Reds</option>
                <option value="CHU">Chicago/Pittsburgh (Union League)</option>
                <option value="CNU">Cincinnati Outlaw Reds</option>
                <option value="IN2">Indianapolis Hoosiers</option>
                <option value="KCU">Kansas City Cowboys</option>
                <option value="MLU">Milwaukee Brewers</option>
                <option value="PHU">Philadelphia Keystones</option>
                <option value="RIC">Richmond Virginians</option>
                <option value="SLU">St. Louis Maroons</option>
                <option value="SPU">St. Paul White Caps</option>
                <option value="TL1">Toledo Blue Stockings</option>
                <option value="WIL">Wilmington Quicksteps</option>
                <option value="WS7">Washington Nationals</option>
                <option value="WSU">Washington Nationals</option>
                <option value="BR3">Brooklyn Grays</option>
                <option value="LS2">Louisville Colonels</option>
                <option value="NY1">New York Giants</option>
                <option value="SL5">St. Louis Maroons</option>
                <option value="KCN">Kansas City Cowboys</option>
                <option value="WS8">Washington Nationals</option>
                <option value="CL3">Cleveland Blues</option>
                <option value="IN3">Indianapolis Hoosiers</option>
                <option value="PIT">Pittsburg Alleghenys</option>
                <option value="BR3">Brooklyn Bridegrooms</option>
                <option value="KC2">Kansas City Cowboys</option>
                <option value="CL4">Cleveland Spiders</option>
                <option value="CL6">Columbus Solons</option>
                <option value="BFP">Buffalo Bisons</option>
                <option value="BL3">Baltimore Orioles</option>
                <option value="BR4">Brooklyn Gladiators</option>
                <option value="BRO">Brooklyn Bridegrooms</option>
                <option value="BRP">Brooklyn Ward's Wonders</option>
                <option value="BSP">Boston Reds</option>
                <option value="CHN">Chicago Colts</option>
                <option value="CHP">Chicago Pirates</option>
                <option value="CIN">Cincinnati Reds</option>
                <option value="CLP">Cleveland Infants</option>
                <option value="NYP">New York Giants</option>
                <option value="PHI">Philadelphia Phillies</option>
                <option value="PHP">Philadelphia Athletics</option>
                <option value="PTP">Pittsburgh Burghers</option>
                <option value="RC2">Rochester Broncos</option>
                <option value="SR2">Syracuse Stars</option>
                <option value="TL2">Toledo Maumees</option>
                <option value="BRO">Brooklyn Grooms</option>
                <option value="BS2">Boston Reds</option>
                <option value="CN3">Cincinnati Kelly's Killers</option>
                <option value="ML3">Milwaukee Brewers</option>
                <option value="PIT">Pittsburgh Pirates</option>
                <option value="WS9">Washington Statesmen</option>
                <option value="BLN">Baltimore Orioles</option>
                <option value="LS3">Louisville Colonels</option>
                <option value="SLN">St. Louis Browns</option>
                <option value="WAS">Washington Senators</option>
                <option value="CHN">Chicago Orphans</option>
                <option value="BRO">Brooklyn Superbas</option>
                <option value="SLN">St. Louis Perfectos</option>
                <option value="SLN">St. Louis Cardinals</option>
                <option value="BLA">Baltimore Orioles</option>
                <option value="BOS">Boston Americans</option>
                <option value="CHA">Chicago White Sox</option>
                <option value="CLE">Cleveland Blues</option>
                <option value="DET">Detroit Tigers</option>
                <option value="MLA">Milwaukee Brewers</option>
                <option value="PHA">Philadelphia Athletics</option>
                <option value="WS1">Washington Senators</option>
                <option value="CLE">Cleveland Guardians</option>
            </select>
            <br><br>

            <label for="condition">Condition:</label>
            <select id="condition" name="condition" required>
                <option value=".300+ AVG CAREER">.300+ AVG CAREER</option>
                <option value="30+ HR SEASON">30+ HR SEASON</option>
                <!-- Add more options here -->
            </select>
            <br><br>

            <button type="submit">Find Player</button>
        </form>

        <!-- Home button redirects to the homepage -->
        <form action="{{ url_for('main.roster_grid') }}" method="GET">
            <input type="submit" style="margin-top: 100px" value="Home">
        </form>

    </div>
</body>

</html>